{% extends "_base.html" %}
{% load i18n %}
{% load static %}

{% load bootstrap %}

{% block page_title %}
    {% trans " user register" %}
{% endblock page_title %}

{% block content %}
        <!-- User Area -->
        <div class="user-area pt-100 pb-70">
            <div class="container">
                <div class="user-width">
                    <div class="user-form">
                        <div class="contact-form">
                            <h2>{% trans "verify code" %}</h2>
                            <form action='' method='POST'>
                                {% csrf_token %}
                                {{ form|bootstrap_horizontal:'col-lg-8' }}
                                 <div class="col-lg-8 ">
                                    <button type="submit" class="default-btn btn-bg-three">
                                        {% trans "submit" %}
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- User Area End -->
>
{% endblock content %}